@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var photos = ViewBag.photos;
    var articles = ViewBag.articles;
}
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

   /*  tr:nth-child(even) {
        background-color: #def3c6;
    } */

    .imgDefault {
        max-width: 100px;
        max-height: 100px;
    }

    #searchPanel{
        margin:5px;
    }


    .articleViewLink:hover{
        cursor:pointer;
        font-weight:bold;
        text-decoration:underline;
        color:gray;
    }

    .toggle{
        background-color: #ccc;
        border: 1px solid #999;
        color: #333;
        padding: 5px 10px;
        cursor: pointer;
        border-top-left-radius: 10px; /* 左上角圆角 */
        border-top-right-radius: 10px; /* 右上角圆角 */
    }
    .selected {
        background-color: lightblue; /* 设置被选中时的背景色 */
        color: #fff; /* 设置选中时的文字颜色 */
    }
</style>
<div class="row">
    <div class="col">
        <div id="searchPanel">
            <form action="/Backstage/Index" method="get">
                <label for="userIdInput">UserId:</label>
                <input type="text" name="UserId" id="userIdInput" />
                <label for="userNameInput">UserName:</label>
                <input type="text" name="userName" id="userNameInput" />
                <input type="submit" value="查詢" />
            </form>
        </div>
    </div>
    <div class="col-auto ml-auto">
        <a href="/Backstage/Statistics">統計圖表</a>
    </div>
</div>


<div>
    <div class="row">
        <div class="col-auto">
            <button id="photoButton" class="toggle" onclick="toggleSelection('Photo')">Photo</button>
        </div>
        <div class="col-auto">
            <button id="articleButton" class="toggle" onclick="toggleSelection('Article')">Article</button>
        </div>
    </div>
    <div id="photoPanel">
        <table>
            <tr>
                <th>UserId</th>
                <th>UserName</th>
                <th>PhotoId</th>
                <th>PhotoName</th>
                <th>photo</th>
                <th>修改</th>
            </tr>
            @foreach (var item in photos)
            {
                <tr>
                    <th>@item.user.UserId</th>
                    <th>@item.user.Nickname</th>
                    <th>@item.photo.PhotoId</th>
                    <th>@item.photo.PhotoTitle</th>
                    <th><img src="@item.photo.PhotoPath" alt="Alternate Text" class="imgDefault" /></th>
                    <th><button onclick="deletePhoto(@item.photo.PhotoId)" class="btn btn-danger">刪除</button></th>
                </tr>
            }
        </table>
    </div>
    <div id="articlePanel">
        <table>
            <tr>
                <th>UserId</th>
                <th>UserName</th>
                <th>ArticleId</th>
                <th>ArticleTitle</th>
                <th>修改</th>
            </tr>
            @foreach (var item in articles)
            {
                <tr>
                    <th>@item.user.UserId</th>
                    <th>@item.user.Nickname</th>
                    <th>@item.article.ArticleId</th>
                    <th onclick="articleView(@item.article.ArticleId)" class="articleViewLink">@item.article.Title</th>
                    <th><button onclick="deleteArticle(@item.article.ArticleId)" class="btn btn-danger">刪除</button></th>
                </tr>
            }
        </table>
    </div>
</div>


<script>
    $(function(){
        toggleSelection('Photo');
    })
    function toggleSelection(toggle) {
        if (toggle === 'Photo') {
            $('#photoButton').addClass('selected');
            $('#articleButton').removeClass('selected')
            $('#photoPanel').css('display', 'block');
            $('#articlePanel').css('display', 'none');
        } 
        else if (toggle === 'Article') {
            $('#articleButton').addClass('selected');
            $('#photoButton').removeClass('selected');
            $('#articlePanel').css('display', 'block');
            $('#photoPanel').css('display', 'none');
        }
    }
    function deletePhoto(photoId) {
        var confirmation = confirm("確定要刪除這張圖片嗎？");
        if (confirmation) {
            $.ajax({
                url: "/Backstage/DeletePhotos",
                type: "post",
                data: { photoId: photoId },
                success: function () {
                    window.location.href = "/Backstage/Index";
                }
            });
        }
    }
    function deleteArticle(articleId) {
        var confirmation = confirm("確定要刪除這篇文章嗎？");
        if (confirmation) {
            $.ajax({
                url: "/Article/Delete",
                type: "post",
                data: { articleId: articleId },
                success: function () {
                    window.location.href = "/Backstage/Index";
                }
            });
        }
    }
    function articleView(articleId) {
        window.open("/Article/ArticleView?articleId=" + articleId)
    }
</script>