@model TravelNotes.Models.GarbageViewModel;
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">



<style>
    #TopS {
        display: flex;
        align-items: center;
        z-index: 100;
    }

        #TopS > div {
            display: flex;
            align-items: center;
            z-index: 1000;
        }

    #GuidedTour > a {
        border-radius: 10px;
    }

        #GuidedTour > a:hover {
            background-color: whitesmoke;
            transform: scale(1.05);
        }

    #A {
        display: inline-block;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 5px solid gray;
        border-radius: 20px;
        width: 100%;
        height: auto;
        padding-top: 14px;
    }
    .image-container {
        display: inline-block;
        margin-left: 20px;
        position: relative;
    }

        .image-container .hover-button {
            position: absolute;
            border: none;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            color: white;
            text-align: center;
            line-height: 30px;
            opacity: 0;
            transition: opacity 0.3s ease;
            cursor: pointer;
            background-color: black;
            background-color: rgba(0,0,0,0.3);
        }

        .image-container .hover-button-2 {
            position: absolute;
            width: 50px;
            right: 0;
            bottom: 0;
            border: none;
            background-color: rgba(0,0,0,0.3);
            color: #fff;
            cursor: pointer;
            opacity: 0;
            transition: opacity 0.5s ease;
        }

        .image-container:hover .hover-button {
            opacity: 1;
        }

        .image-container:hover .hover-button-2 {
            opacity: 1;
        }

    #deleteButton {
        border: none;
        font-weight: bold;
        border-radius: 10px;
        font-size: 20px;
        background-color: #F3E4C6;
    }

        #deleteButton:hover {
        transform: scale(1.05);
        background-color: whitesmoke;
    }
    #RetuAndDele > form > button{
        border: none;
        width: 45px;
        border-radius: 10px;
        background-color: white;
    }

    #RetuAndDele > form > button:hover{
        transform: scale(1.05);
        background-color: whitesmoke;

    }

    #deleteAllAlbum {
        border: none;
        font-weight: bold;
        border-radius: 10px;
        font-size: 20px;
        background-color: white;
    }

        #deleteAllAlbum:hover {
            transform: scale(1.05);
            background-color: whitesmoke;
        }

    #deleteAllPhoto{
        border: none;
        font-weight: bold;
        border-radius: 10px;
        font-size: 20px;
        background-color: white;
    }

        #deleteAllPhoto:hover {
        transform: scale(1.05);
        background-color: whitesmoke;
    }
</style>
<div id="TopS">
    <div>
        <a class="nav-link text-dark" style="font-weight: bold;font-size:20px;" asp-area="" asp-controller="Home" asp-action="Index">TravelNotes</a>
    </div>
    <div id="GuidedTour" style="margin:10px;">
        <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Photo" style="font-weight: bold;font-size:20px;">我的相片</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Album" style="font-weight: bold;font-size:20px;">我的相簿</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Garbage" style="background-color:whitesmoke;font-weight: bold;border-radius: 10px;font-size:20px;">我的垃圾桶</a>
        

    </div>
       <div style="margin-left:48%;">
            <button id="deleteButton" class="nav-link text-dark" style="font-weight: bold;font-size:20px;"><i class="bi bi-trash"></i> 全部清空</button>
       </div> 
    
</div>
    <div>
        <div id="SuccessMessage" class="alert alert-success" style="display:none;"></div>
        <div id="FalseMessage" class="alert alert-danger" style="display:none;"></div>
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-warning" role="alert" id="messageAlert">
                @TempData["Message"]
            </div>
        }
    </div>
<div id="A">
    <div style="margin-left:20px;">
        <div style="display:inline-block;font-size:30px;"><i class="fa-solid fa-book"></i> 相簿</div>
        <div style="display:inline-block;margin-left:1000px;font-weight: bold;font-size:16px;"><button id="deleteAllAlbum">清空相簿</button></div>
        
        <hr />
        @if (Model.Albums != null && Model.Albums.Any())
        {
            @foreach (var album in Model.Albums!)
            {
                DateOnly uploadDate = (DateOnly)album.CreateTime;

                DateTime uploadDateTime = uploadDate.ToDateTime(new TimeOnly(0, 0));

                TimeSpan difference = DateTime.Now - uploadDateTime;

                int daysLeft = 30 - difference.Days;

                daysLeft = Math.Max(daysLeft, 0);
                <div style="display:inline-block;margin-left:20px;">
                    <div style="display:flex; justify-content:center; align-items:center; flex-direction:column;">
                        <img style="width:100px;" src="~/images/photo-album.png" alt="Folder Icon" />
                        <p style="margin:0;font-weight: bold;">@album.AlbumName</p>
                    </div>
                    <div>
                        <p style="text-align:center; color:@(daysLeft < 5 ? "red" : "black");font-weight: bold;">離刪除日期還有 @daysLeft 天</p>
                    </div>

                    <div id="RetuAndDele" style="display: flex; justify-content: space-between;">
                        <form method="post" action="/Album/RestoreAlbum" style="display: inline;">
                            <input type="hidden" name="albumId" value="@album.AlbumId" />
                            <button type="button" onclick="submitForm(this)">
                                <i class="bi bi-arrow-counterclockwise"></i>
                            </button>
                        </form>

                        <form method="post" action="/Album/DeleteAlb" style="display: inline;">
                            <input type="hidden" name="albumId" value="@album.AlbumId" />
                            <button type="button" onclick="confirmDeletion(this)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </div>   
                </div>
            }
        }
        else
        {
            <h5>目前沒有任何相簿</h5>
        }
    </div>
    <hr />
    <div style="margin:20px;">
        <div style="display:inline-block;font-size:30px;"><i class="bi bi-images"></i> 相片</div>

           <div style="display:inline-block;margin-left:1000px;font-weight: bold;font-size:16px;"><button id="deleteAllPhoto">清空相片</button></div> 
        
        <hr />
        @if (Model.Photos != null && Model.Photos.Any())
            {
                @foreach (var photo in Model.Photos!)
                {
                DateOnly uploadDate = (DateOnly)photo.UploadDate;

                DateTime uploadDateTime = uploadDate.ToDateTime(new TimeOnly(0, 0));

                TimeSpan difference = DateTime.Now - uploadDateTime;

                int daysLeft = 30 - difference.Days;

                daysLeft = Math.Max(daysLeft, 0);
                <div id="Pho" class="image-container" style="margin-bottom:10px; position: relative;">
                    <div class="image-wrapper" style="position: relative; display: inline-block;">
                        <img id="dynamicImage" src="@photo.PhotoPath" class="myImages" style="width: 150px;height:150px;" />
                        <button id="return-image-btn-@photo.PhotoId" class="hover-button-2" data-album-id="@photo.AlbumId" data-photo-id="@photo.PhotoId"><i class="bi bi-arrow-counterclockwise"></i></button>
                    </div>
                    <div>
                        <p style="text-align:center; color:@(daysLeft < 5 ? "red" : "black");font-weight: bold;">離刪除日期還有 @daysLeft 天</p>
                    </div>
                    <button id="change-image-btn-@photo.PhotoId" class="hover-button" data-album-id="@photo.AlbumId" data-photo-id="@photo.PhotoId "><i class="bi bi-trash"></i></button>
                </div>

            }
        }else
        {
            <h5>目前沒有任何相片</h5>
        }
    </div>

</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    function submitForm(button) {
        var form = button.closest('form');
        form.submit();
    }
    function confirmDeletion(button) {
        var confirmed = confirm('确定要删除这个相簿吗?');
        if (confirmed) {
            var form = button.closest('form');
            form.submit();
        }
    }

        $(document).ready(function () {
            var successMessage = localStorage.getItem('deleteSuccessMessage');
            var falseMessage = localStorage.getItem('deleteFalseMessage');

            if (successMessage) {
                $('#SuccessMessage').text(successMessage).show();
                localStorage.removeItem('deleteSuccessMessage');
            }
            if (falseMessage) {
                $('#FalseMessage').text(falseMessage).show();
                localStorage.removeItem('deleteFalseMessage');
            }
        });
        $("#deleteButton").click(function () {
            var result = confirm("確定要清空垃圾桶嗎？");
            if (result) {
                $.ajax({
                    url: '/Album/DeleteByAlbumAndUserId',
                    type: 'POST',
                    success: function () {

                        localStorage.setItem('deleteSuccessMessage', '清空垃圾桶成功');
                        location.reload();
                    },
                    error: function () {

                        location.reload();
                    }
                });
            } else {
                alert("刪除已取消。");
            }
        });
        $("#deleteAllAlbum").click(function () {
            var result = confirm("確定要清空相簿嗎？");
            if (result) {
                $.ajax({
                    url: '/Album/DeleteAllAlbum',
                    type: 'POST',
                    success: function () {

                        localStorage.setItem('deleteSuccessMessage', '清空相簿成功');
                        location.reload();
                    },
                    error: function () {

                        localStorage.setItem('deleteFalseMessage', '清空相簿失敗');
                        location.reload();
                    }
                });
            } else {
                alert("刪除已取消。");
            }
        });
        $("#deleteAllPhoto").click(function () {
            var result = confirm("確定要清空相片嗎？");
            if (result) {
                $.ajax({
                    url: '/Album/DeleteAllPhoto',
                    type: 'POST',
                    success: function () {

                        localStorage.setItem('deleteSuccessMessage', '清空相片成功');
                        location.reload();
                    },
                    error: function () {

                        localStorage.setItem('deleteFalseMessage', '清空相片失敗');
                        location.reload();
                    }
                });
            } else {
                alert("刪除已取消。");
            }
        });

        $(document).ready(function () {
            $('button[id^="change-image-btn"]').click(function () {
                var result = confirm("確定要刪除嗎？");
                var GarbagePhotoId = $(this).data('photo-id');
                if (result) {
                    $.ajax({
                        url: '/Album/GarbageDelete',
                        type: 'POST',
                        data: {
                            photoId: GarbagePhotoId,
                        },
                        success: function (response) {
                            localStorage.setItem('deleteSuccessMessage', '刪除成功');
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            localStorage.setItem('deleteFalseMessage', '刪除失敗');
                            location.reload();
                        }
                    });
                } else {
                    alert("刪除已取消。");
                }
            });
        });
        $(document).ready(function () {
            $('button[id^="return-image-btn"]').click(function () {
                var result = confirm("確定要還原嗎？");
                var albumId = $(this).data('album-id');
                var ReturnPhotoId = $(this).data('photo-id');
                if (result) {
                    $.ajax({
                        url: '/Album/ReturnAlbumId',
                        type: 'POST',
                        data: {
                            photoId: ReturnPhotoId,
                            NowAlbum: albumId,
                        },
                        success: function (response) {
                            localStorage.setItem('deleteSuccessMessage', '還原相片成功');
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            localStorage.setItem('deleteFalseMessage', '還原相片失敗');
                            location.reload();
                        }
                    });
                } else {
                    alert("還原取消。");
                }
            });
        });
        setTimeout(function () {
            $('#SuccessMessage').fadeOut('slow');
        }, 3000);


        setTimeout(function () {
            $('#FalseMessage').fadeOut('slow');
        }, 3000);
        $(document).ready(function () {
            setTimeout(function () {
                $("#messageAlert").fadeOut("slow");
            }, 3000);
        });

    </script>

