@model List<TravelNotes.Models.photo>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
<style>
    #TopS {
        position: sticky;
        top: -1%;
        width: 100%;
        height: 58px;
        margin-top: -7px;
        z-index: 999;
        font-size:22px;
        background-color:#F3E4C6
    }

    #A {
        display: flex;
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        height: 100vh; /* 让容器高度占满整个视窗高度 */
        
    }

    .image-container {
        display: inline-block;
        margin-left: 1.8px;
        margin-top: 3px;
        margin-bottom: 5px;
        position: relative;
    }

        .image-container:hover {
            transform: scale(1.05); /* 滑鼠停在.image-container上時放大圖片 */
        }

        .image-container .hover-button {
            position: absolute;
            border: none;
            top: 0; /* 定位到容器的左上角 */
            left: 0;
            width: 40px; /* 按钮宽度，根据需要调整 */
            height: 40px; /* 按钮高度，根据需要调整 */
            color: white; /* 按钮文字颜色为白色 */
            text-align: center;
            line-height: 30px; /* 使文字垂直居中 */
            opacity: 0; /* 初始化不可见 */
            transition: opacity 0.3s ease; /* 平滑过渡效果 */
            cursor: pointer;
            background-color: black;
            background-color: rgba(0,0,0,0.3);
        }

        .image-container:hover .hover-button {
            opacity: 1; /* 鼠标悬停时完全可见 */
        }


    .check-icon {
        font-size: 24px; /* 或任何合适的大小 */
        position: absolute;
        top: 0;
        right: 0;
        color: black; /* 或任何你希望的颜色 */
        cursor: pointer;
    }
    .modal {
        display: none; /* 不顯示 */
        position: fixed; /* 固定定位 */
        z-index: 1000; /* 設定在最表層 */
        padding-top: 100px; /* 位置 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* 如果需要，使用滾動 */
        background-color: rgb(0,0,0);
    }
    /* 點擊出來的img */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }
    /* 關閉按鈕 */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
    /* 添加一個樣式以突顯選中的圖片 */
    .selected {
        position: relative; /* 添加相对定位 */
        transform: scale(0.9);
    }


    
    #uploadBtn{
        position:absolute; 
        border: none !important;
        background-color: #B5C1B4;
        font-weight: bold;
        border-radius: 10px 0 0 0;
        right: 12%;
        top: 10%;
        height: 51px;
    }
    #uploadBtn:hover{
        transform: scale(1.05);
        background-color: ghostwhite;
    }
    #toggle-select-mode {
        position: absolute;
        border: none !important;
        background-color: #B5C1B4;
        font-weight: bold;
        right: 7.7%;
        top: 10%;
        height: 51px;
    }
    #toggle-select-mode:hover{
        transform: scale(1.05);
        background-color: ghostwhite;
    }

    #updateNullAlbumPhotos{
        position: absolute;
        border: none !important;
        background-color: #B5C1B4;
        font-weight: bold;
        border-radius: 0 10px 0 0;
        right: 0%;
        top: 10%;
        height: 51px;
    }
    #updateNullAlbumPhotos:hover {
        transform: scale(1.05);
        background-color:ghostwhite;
    }

    .modal-navigation {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2em;
        color: white;
        z-index: 1000;
        user-select: none;
    }
    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
    


</style>
<header id="TopS">
    <nav class="navbar navbar-expand-sm  navbar-light  ">

        <div class="container-fluid" style="background-color:">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TravelNotes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Photo" style="background-color:#B5C1B4;font-weight: bold;border-radius: 10px;">我的相片</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Album" style="font-weight: bold;">我的相簿</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Garbage" style="font-weight: bold;">我的垃圾桶</a>
                    </li>
                    <li>
                        <form asp-action="UploadImages" method="post" enctype="multipart/form-data">
                            <input type="file" class="form-control" id="imageFiles" name="imageFiles" accept=".png, .jpg, .jpeg" multiple style="display:none;">
                            <button type="button" id="uploadBtn">上傳</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <button id="toggle-select-mode">選取</button>
                    </li>
                    <li>
                        <button id="updateNullAlbumPhotos"style="z-index:1000">清空相片</button>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </nav>
    <div style="position: fixed; top: 0; left: 50%; transform: translateX(-50%); width: 200px; height: 150px; z-index: 1050; display: flex; flex-direction: column; justify-content: center; text-align: center;">
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-warning" role="alert" id="messageAlert">
                @TempData["Message"]
            </div>
        }
        <div id="SuccessMessage" class="alert alert-success" style="display:none;">
            刪除成功！
        </div>
        <div id="FalseMessage" class="alert alert-danger" style="display:none;">
            刪除失敗！
        </div>
        <div id="successMessage" class="alert alert-success" style="display:none;"></div>
        <div id="falseMessage" class="alert alert-danger" style="display:none;"></div>
    </div>
</header>
<body>
    <div id="A">
        <div style="background-color:white;border: 1px solid black; width: 96%;height:96%">

            @foreach (photo p in Model)
            {
                <div id="Pho-@p.PhotoId" class="image-container">
                    <img id="dynamicImage-@p.PhotoId" src="@p.PhotoPath" class="image-item" data-photodescription="@p.PhotoDescription" style="width:150px;height:150px;" />
                    <button id="change-image-btn-@p.PhotoId" class="hover-button" data-album-id="@p.AlbumId" data-photo-id="@p.PhotoId" data-upload-date="@p.UploadDate"><i class="bi bi-trash"></i></button>
                    <i class="bi bi-check-circle check-icon" style="display:none;" id="CheckCircle-@p.PhotoId"></i>
                </div>
                <div id="myModal" class="modal">
                    <span class="close">&times;</span>
                    <img class="modal-content" id="Img01">
                    <a class="prev modal-navigation" onclick="changeImage(-1)">&#10094;</a>
                    <a class="next modal-navigation" onclick="changeImage(1)">&#10095;</a>
                </div>
            }
        </div>
        

    </div>
    
    <div id="popup-div" style="display:none; position: fixed; top: 90%; left: 50%; transform: translate(-50%, -50%); background-color: black; padding: 20px; border: 1px solid #ccc; z-index: 1000;">
        <i class="bi bi-trash" id="delete-selected-images" style="color: white; display:none;cursor: pointer;"></i>
        <div id="selected-count" style="color: white; display: inline-block; margin-left: 10px;"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        document.getElementById('uploadBtn').addEventListener('click', function () {
            document.getElementById('imageFiles').click();
        });

        document.getElementById('imageFiles').addEventListener('change', function () {
            if (this.files.length > 0) {
                // 如果已選擇檔案，提交表單
                this.form.submit();
            }
        });

        var modal = document.getElementById("myModal");
        var modalImg = document.getElementById("Img01");
        var images = document.getElementsByClassName('image-item');
        var currentImageIndex = 0; // 当前显示图片的索引
        let isSelectModeActive = false; // 初始时不在选择模式

        document.getElementById('toggle-select-mode').addEventListener('click', function () {
            isSelectModeActive = !isSelectModeActive; // 切换选择模式的状态
            this.textContent = isSelectModeActive ? "取消" : "选取";
        });

        // 给所有图片添加点击事件
        for (let i = 0; i < images.length; i++) {
            images[i].onclick = function () {
                if (!isSelectModeActive) { // 只有在非选择模式时才显示 modal
                    showModalImage(i);
                }
            }
        }

        function showModalImage(index) {
            modal.style.display = "block";
            modalImg.src = images[index].src;
            currentImageIndex = index; // 更新当前图片索引
        }

        // 处理上一张和下一张的逻辑
        function changeImage(direction) {
            let newIndex = currentImageIndex + direction;
            if (newIndex >= 0 && newIndex < images.length) {
                showModalImage(newIndex);
            }
        }


        // 挑選關閉按鈕
        var span = document.getElementsByClassName("close")[0];

        // 點擊關閉按鈕關閉modal
        if (span != null) {
            span.onclick = function () {
                modal.style.display = "none";
            }
        }
        if (modal != null) {
            modal.onclick = function (event) {
                // 檢查點擊是否發生在modal之外
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            };
        };
        document.addEventListener('DOMContentLoaded', function () { 
            const toggleSelectModeBtn = document.getElementById('toggle-select-mode');
            const popupDiv = document.getElementById('popup-div');
            let isSelectModeActive = false;

            toggleSelectModeBtn.addEventListener('click', function () {
                isSelectModeActive = !isSelectModeActive;
                this.textContent = isSelectModeActive ? "取消" : "選取";
                document.querySelectorAll('.hover-button').forEach(function (btn) {
                    btn.style.display = isSelectModeActive ? 'none' : 'block';
                });

                if (!isSelectModeActive) {
                    document.querySelectorAll('.check-icon').forEach(function (icon) {
                        icon.style.display = 'none';
                    });
                    // 移除所有选中图片的'selected'类
                    document.querySelectorAll('.image-item.selected').forEach(function (image) {
                        image.classList.remove('selected');
                    });
                    // 重置选中图片计数文本
                    updateSelectedCount(true);
                    // 正确设置popupDiv的display属性
                    popupDiv.style.display = 'none';
                    
                } else {
                    // 进入选择模式时更新选中数量
                    updateSelectedCount();
                    // 显示popupDiv
                   popupDiv.style.display = 'block';
                }
                
            });
        

            document.querySelectorAll('.image-item').forEach(image => {
                image.addEventListener('click', function (event) {
                    if (isSelectModeActive) {
                        event.preventDefault();
                        this.classList.toggle('selected');
                        const photoId = this.getAttribute('id').replace('dynamicImage-', '');
                        const checkCircle = document.getElementById(`CheckCircle-${photoId}`);
                        // 判断图片是否被选中，并据此显示或隐藏CheckCircle图标
                        if (this.classList.contains('selected')) {
                            checkCircle.style.display = 'inline-block'; // 显示图标
                        } else {
                            checkCircle.style.display = 'none'; // 隐藏图标
                        }
                        updateSelectedCount(); // 更新选中数量
                }
            });
            });
            function updateSelectedCount() {
                const selectedCount = document.querySelectorAll('.image-item.selected').length;
                if (selectedCount > 0) {
                    $('#delete-selected-images').css('display', 'inline-block');
                }
                else {
                    $('#delete-selected-images').css('display', 'none');
                }
                document.getElementById('selected-count').textContent = `已選取${selectedCount}張相片`;
            }
            

        });
        $(document).ready(function () { 
            $('#delete-selected-images').click(function () { 
                var selectedImages = document.querySelectorAll('.image-item.selected');
                var photoIds = Array.from(selectedImages).map(image => image.id.split('-')[1]);
                var result = confirm("確定要刪除嗎？");
                if (result) {
                    // 调用更新所有选中图片PhotoDescription的函数
                    updateALLPhotoDescription(photoIds, '1');
                }
            })
        })
        
        $(document).ready(function () {
            // 监听所有删除按钮的点击事件
            $('button[id^="change-image-btn"]').click(function () {
                var result = confirm("確定要刪除嗎？");
                var PhotoId = $(this).data('photo-id');
                // 发送Ajax请求到服务器
                if (result) {
                    $.ajax({
                        url: '/Album/AlbumPhotoToGarbage', // 控制器的Action路径
                        type: 'POST',
                        data: {
                            photoId: PhotoId,
                        },
                        success: function (response) {
                            // 处理成功的响应
                            alert('刪除成功');
                            location.reload();
                        },
                        error: function (xhr, status, error) {
                            // 处理错误的响应
                            alert('刪除失敗');
                            location.reload();
                        }
                    });
                } else {
                    // 如果用户点击“取消”，result 为 false
                    alert("刪除已取消。");
                }
            });
        });
        
        
        function updateALLPhotoDescription(photoIds, newDescription) {
            // 假设服务器端接受一个请求体，其中photoIds是图片ID数组，newDescription是新的描述值
            fetch('/Album/UpdateALLPhotoDescription', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    // 'X-CSRF-TOKEN': 'your_csrf_token_here' 如果你的应用使用了CSRF保护，记得添加token
                },
                body: JSON.stringify({
                    photoIds: photoIds,
                    newDescription: newDescription
                })
            })
                .then(response => {
                    if (response.ok) {
                        // 存储一个标志位在localStorage表示成功
                        localStorage.setItem("photoUpdateStatus", "success");
                    } else {
                        // 存储一个标志位在localStorage表示失败
                        localStorage.setItem("photoUpdateStatus", "fail");
                    }
                    // 重新加载页面
                    window.location.reload();
                })
                .catch((error) => {
                    console.error('Error:', error);
                    localStorage.setItem("photoUpdateStatus", "fail");
                    window.location.reload();
                });
        }
        document.addEventListener('DOMContentLoaded', function () {
            // 检查localStorage中的状态
            const status = localStorage.getItem("photoUpdateStatus");

            if (status === "success") {
                document.getElementById("SuccessMessage").style.display = "block";
                setTimeout(() => {
                    document.getElementById("SuccessMessage").style.display = "none";
                }, 3000); // 3秒后隐藏
            } else if (status === "fail") {
                document.getElementById("FalseMessage").style.display = "block";
                setTimeout(() => {
                    document.getElementById("FalseMessage").style.display = "none";
                }, 3000); // 3秒后隐藏
            }

            // 清除状态以避免重新加载页面时再次显示消息
            localStorage.removeItem("photoUpdateStatus");
        });

        $("#updateNullAlbumPhotos").click(function () {
            var result = confirm("確定要刪除嗎？");
            if (result) {
                $.ajax({
                    url: '/Album/UpdateNullAlbumPhotosToMinAlbumId', // 更新为你的实际URL路径
                    type: 'POST',
                    success: function (response) {
                        // 这里可以添加一些成功操作的反馈，例如提示用户
                        localStorage.setItem('deleteSuccessMessage', '刪除成功');
                        location.reload();
                    },
                    error: function () {
                        // 这里是处理错误的反馈
                        localStorage.setItem('deleteFalseMessage', '刪除失敗');
                        location.reload();
                    }
                });
            }
        });

        $(document).ready(function () {
            // SET一個定時器
            setTimeout(function () {
                //使用 jQuery 的 fadeOut 方法淡出
                $("#messageAlert").fadeOut("slow");
            }, 3000); // 3 秒
        });
        $(document).ready(function () {
            // 檢查localStorage中是否有删除成功的消息
            var deleteSuccessMessage = localStorage.getItem('deleteSuccessMessage');
            if (deleteSuccessMessage) {
                // 顯示成功
                $('#successMessage').text(deleteSuccessMessage).show();

                // 設置3秒後消失
                setTimeout(function () {
                    $('#successMessage').fadeOut('slow');
                }, 3000);

                // 清除消息，避免下次加載頁面時再次顯示
                localStorage.removeItem('deleteSuccessMessage');
            }
        });
        document.addEventListener('DOMContentLoaded', function () {
            var images = document.getElementsByClassName('image-item');

            for (var i = 0; i < images.length; i++) {
                images[i].addEventListener('contextmenu', function (e) {
                    e.preventDefault(); // 阻止默认的右键菜单
                    var contextMenu = document.getElementById("contextMenu");
                    // 设置菜单位置
                    contextMenu.style.left = e.pageX + 'px';
                    contextMenu.style.top = e.pageY + 'px';
                    contextMenu.style.display = "block"; // 显示菜单
                });
            }

            // 点击其他地方隐藏菜单
            document.addEventListener('click', function (e) {
                document.getElementById("contextMenu").style.display = 'none';
            });
        });

        $(document).ready(function () {
            // 檢查localStorage中是否有删除成功的消息
            var deleteFalseMessage = localStorage.getItem('deleteFalseMessage');
            if (deleteFalseMessage) {
                // 顯示失敗
                $('#falseMessage').text(deleteFalseMessage).show();

                // 設置3秒後消失
                setTimeout(function () {
                    $('#falseMessage').fadeOut('slow');
                }, 3000);

                // 清除消息，避免下次加載頁面時再次顯示
                localStorage.removeItem('deleteFalseMessage');
            }
        });
    </script>
</body>