@model List<TravelProject.Models.TestData>
@{
    Layout = "_Layout";
}

<style>
    .filter-container,
    .filter-data-wrap {
        display: flex;
        flex: 1;
        flex-wrap:wrap;
    }
</style>


<form id="myForm">
    <div class="left-content-container">
        <div class= "filter-container" >
            <div class= "filter-title" > 路線 </div>
            <div class= "filter-item-unlimited active" > 不限 </div>
            <div class= "filter-data-wrap" >
                @foreach (var item in Model)
                {
                    <input type = "checkbox" id = "@item.Id" name = "GetLabel"
                    value = "@item.Label"/>
                    <label for= "@item.Id" > @item.Label </label>
                }
            </div>
        </div>
        <button type="button" id="submitButton">Submit</button>
    </div>
</form>


<hr />

<div id="resultDiv"></div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#submitButton').click(function () {
            $.ajax({
                url: '@Url.Action("SearchResultPartialView", "Recommend")', // Replace YourAction and YourController with your actual action and controller names
                type: 'POST',
                data: $('#myForm').serialize(),
                success: function (result) {
                    $('#resultDiv').html(result);
                }
            });
        });
    });
</script>




