@{
    ViewData["Title"] = "草稿編輯";
}
@model List<Article>
@{
    var currentId = ViewBag.EditId;
    Article target;
    if (currentId == null)
    {
        target = Model.LastOrDefault()!;
    }
    else
    {
        target = Model.FirstOrDefault(a => a.ArticleId == currentId)!;
    }
    var tempTime = (DateTime)target!.TravelTime!;
    var time = tempTime.ToString("yyyy-MM-ddTHH:mm");
    string content = target!.Contents!;
}

<script src="~/lib/_js/jquery-3.6.0.js"></script>
<script src="https://cdn.tiny.cloud/1/cx5w3vy6l6bg0senjow539pjj585n4wqopo9s4r3viuyx88c/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<h2>草稿編輯</h2>
<input type="text" id="articleId" value="@target.ArticleId" style="display:none;">
<select id="dropdown">
    @foreach (var article in Model)
    {
        <option value="@article.ArticleId">@article.Title</option>
    }
</select>
<br />
<img src="@target.Images" id="articleImage" style="width: 200px; height: 200px; cursor: pointer;" />
<input type="file" id="articleImageUpload" />

<div>
    <label for="title">標題:</label>
    <input type="text" id="title" value="@target.Title">
</div>
<div>
    <label for="subtitle">副標題:</label>
    <input type="text" id="subtitle" value="@target.Subtitle">
</div>
<div>
    <label for="travelTime">時間:</label>
    <input type="datetime-local" id="travelTime" value="@time">
</div>
<div>
    <textarea id="tiny"></textarea>
</div>

<button id="saveButton">Save</button>
<button id="createButton">新增</button>
<button id="deleteButton" class="btn btn-danger">删除草稿</button>
<script>
    let backendData = @Html.Raw(Json.Serialize(content));
    console.log(backendData);
    let dropdown = $("#dropdown");
    $(function () {
        tinymce.init({
            selector: '#tiny',
            plugins: 'image',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | image | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight ',
            automatic_uploads: true,
            images_upload_url: '/Article/UploadImage',
            images_upload_base_path: '/img',
            file_picker_types: 'image',
            init_instance_callback: function (editor) {
                if (backendData == null) {
                    editor.setContent("");
                }
                else {
                    editor.setContent(backendData);
                }
            }
        });
        for (let i = 0; i < dropdown.children().length; i++) {
            if (dropdown.children()[i].value == $('#articleId').val()) {
                dropdown.val(dropdown.children()[i].value);
                break;
            }
        }
        $("#dropdown").on("change", function () {
            let id = $(this).val();

            window.location = '/Article/DraftView?editId=' + id;
        });


        $('#saveButton').on('click', function () {

            let articleData = {
                articleId: $('#articleId').val(),
                title: $('#title').val(),
                subtitle: $('#subtitle').val(),
                travelTime: $('#travelTime').val(),
                content: tinymce.get('tiny').getContent()
            };
            $.ajax({
                type: "POST",
                url: "/Article/SaveDraft", // 控制器的 URL
                data: articleData,
                success: function (response) {
                    alert("儲存成功");
                    window.location = '/Article/DraftView?editId=' + $('#articleId').val();
                }
            });
        });

        $('#createButton').on('click', function () {

            $.ajax({
                type: "post",
                url: "/Article/CreateDraft", // 控制器的 URL
                success: function (response) {
                    alert("新增成功");
                    window.location = "/Article/Draft/"
                }
            });
        });
        $('#deleteButton').on('click', function () {
            var confirmation = confirm("確定要刪除這篇草稿嗎？");
            if (confirmation) {
                $.post("/Article/DeleteDraft", { articleId: $('#articleId').val() })
                    .done(function () {
                        alert("刪除成功");
                        window.location = "/Article/Draft/"
                    })
            }
        });

        $('#articleImage').on('click', function () {
            console.log('ok');
        });

        $('#articleImageUpload').on('change', function () {
            var file = this.files[0];
            var formData = new FormData();
            formData.append('file', file);
            formData.append('articleId', $('#articleId').val());
            formData.append('title', $('#title').val());
            $.ajax({
                type: "post",
                url: "/Article/UploadArticleImage",
                data: formData,
                processData: false,  // 禁止 jQuery 处理数据
                contentType: false,  // 禁止 jQuery 设置内容类型
                success: function () {
                    window.location = '/Article/DraftView?editId=' + $('#articleId').val();
                }
            });
        });
    });
</script>
