@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = null;
}
@using System.Text.RegularExpressions;
@model article
@{

    var article = Model;
    string content = Model.Contents == null ? "" : Model.Contents;
    content = Regex.Replace(content, @"<img\b[^>]*>", ""); //刪掉img標籤
    content = Regex.Replace(content, @"<(?!p\b)[^>]+>", "<p>"); //全部換成p標籤
}
<style>
    .outerDiv {
        display:flex;
        width: fit-content;
        height: fit-content;
    }
    .headShotImg{
        border-radius: 50%;
        width: 50px; 
        height: 50px; 
    }
    .inner1{
        flex-grow: 1;
        width:fit-content;
        height:fit-content;
    }

    .inner2 {
        width: fit-content;
        height: fit-content;
        margin-left:10px;
    }

    .titleContainer{
        overflow: hidden; /* 隐藏溢出内容 */
        width: 500px;
    }
    .partialViewTitle{
        font-weight:bold;
        font-size:25px;
        white-space: nowrap; /* 禁止换行 */
        overflow: hidden; /* 隐藏溢出内容 */
        text-overflow: ellipsis; /* 显示省略号 */
        cursor:pointer;
    }

        .partialViewTitle:hover{
            text-decoration:underline;
        }
    .partialViewSubTitle {
        font-size: 15px;
        font-weight:bold;
        white-space: nowrap; /* 禁止换行 */
        overflow: hidden; /* 隐藏溢出内容 */
        text-overflow: ellipsis; /* 显示省略号 */
    }
    .articleContent{
        display: -webkit-box; /* 使用 flexbox */
        -webkit-box-orient: vertical; /* 垂直方向 */
        overflow: hidden; /* 超出部分隱藏 */
        -webkit-line-clamp: 5; /* 指定顯示的行數 */
        width: 500px;
    }

    .articleImage{
        width: 150px;
        height: 150px;
    }

    .partialViewContainer{
        cursor:pointer;
    }

    .partialViewTime{
        color:gray;
    }
</style>

<div onclick="articleView(@article.ArticleId)" class="partialViewContainer">
    <div >
        <span class="partialViewTime">發佈時間:@article.PublishTime</span>
    </div>
    <div class="titleContainer">
        <div  class="partialViewTitle">@article.Title</div>
        <div class="partialViewSubTitle">@article.Subtitle</div>
    </div>
    <div class="outerDiv">
        <div class="inner1">
            <div class="articleContent articleContent_@article.ArticleId ">

            </div>
        </div>
        <div class="inner2">
            <img src="@article.Images" class="articleImage" />
        </div>
    </div>
    
</div> 


<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
@* <script src="~/lib/_js/jquery-3.6.0.js"></script> *@
<script src="https://cdn.tiny.cloud/1/cx5w3vy6l6bg0senjow539pjj585n4wqopo9s4r3viuyx88c/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<script>
    var backendData_@article.ArticleId = @Html.Raw(Json.Serialize(content));
    if (backendData_@article.ArticleId == null) {
            backendData_@article.ArticleId = "";
    }
    console.log(backendData_@article.ArticleId);
    $(function () {
        $('.articleContent_@article.ArticleId').html(backendData_@article.ArticleId);
        
    });
    function articleView(articleId) {
        window.location = '/Article/ArticleView?articleId=' + articleId;
    }
</script>